// SCSS for ergo shortcodes

.youtube {
    > iframe {
        width: 100%;
        height: 340px;
    }
}

.vimeo {
    > iframe {
        width: 100%;
        height: 340px;
    }
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.polaroid > div.container {
  text-align: center;
  padding: 10px 20px;
}
